<section>    
    <div class="container">
        <h1><%= @portfolio.title %></h1>
        <br>
        Portfolio URL: <%= @portfolio.link %>
        <br>
        Screenshot: <%= @portfolio.image %>
        <br>
        <p><%= link_to('Edit', edit_portfolio_path(@portfolio)) %> <%= link_to('Delete', @portfolio, :method => :delete) %></p>
    </div><!-- /.container -->
</section>
