<section>    
    <div class="container">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <br>
        Email: <%= @user.email %>
        <br>
        Github: <%= @user.github %>
        <br>
        LinkedIn: <%= @user.linkedin %>
        <br>
        Twitter: <%= @user.twitter %>
        <%# if @current_user && @current_user.admin %>
        <p><%= link_to('Edit', edit_user_path(@user)) %> <%= link_to('Delete', @user, :method => :delete) %></p>
        <hr>
            Career History: 
            <br>
            <% @user.careers.each do |career| %>
                <%= link_to(career.job_title, career_path(career.id)) %>
                <br> 
            <% end %>
            <hr>
            Education History: 
            <br>
            <% @user.educations.each do |education| %>
                <%= link_to(education.institution, education_path(education.id)) %>
                <br> 
            <% end %>
            <hr>
            Portfolio Projects:
            <br>
            <% @user.portfolios.each do |portfolio| %>
                <%= link_to(portfolio.title, portfolio_path(portfolio.id)) %>
                <br> 
            <% end %>
        <%# end %>    
    </div><!-- /.container -->
</section>
