<div id="game_canvas"><h1><%= @first_name %>'s game</h1></div>
<section class="slider">
    <div id="accordian">
        <ul>
            <li>
                <h3><span class="title">Experience</span></h3>
                <ul>
                    <% @user.careers.each do |career| %>
                    <li><span class="accordian-title">Job Title</span></li> 
                        <%= career.job_title %>
                    <br>
                    <li><span class="accordian-title">Company</span></li>
                        <%= career.company %>
                    <br>    
                    <li><span class="accordian-title">Description</span></li>   
                        <%= career.job_description %> 
                    <li><span class="accordian-title">Start Date</span></li>    
                        <%= career.start_date %>
                    <li><span class="accordian-title">End Date</span></li>
                        <%= career.end_date %>
                    <% end %>
                </ul>
            </li>
       <!--      we will keep this LI open by default -->
            <li class="active">
                <h3><span class="title">Education</span></h3>
                <ul>
                    <% @user.educations.each do |education| %>
                    <li><span class="accordian-title">Institution</span></li>
                        <%= education.institution %>
                    <li><span class="accordian-title">Course</span></li>
                        <%= education.course %>
                    <li><span class="accordian-title">Start Date</span></li>
                        <%= education.start_date %>
                    <li><span class="accordian-title">End Date</span></li>
                        <%= education.end_date %>
                    <% end %>
                </ul>
            </li>
            <li>
                <h3><span class="title">Portfolio</span></h3>
                <ul>
                    <% @user.portfolios.each do |portfolio| %>
                    <li><span class="accordian-title">Project</span></li>
                        <%= link_to(portfolio.title, portfolio.link) %>
                    <% end %>
                </ul>
            </li>
        </ul>
    </div>
</section> 



