<script src="https://rawgit.com/photonstorm/phaser/master/build/phaser.min.js"></script>
<div id="game_canvas">
    <div id="divider"></div>
    <section id="<%= @user.first_name %>" class="slider">
        <div id="accordian">
            <ul class="menu">
                <li>
                    <h3><span class="title"><%= @user.first_name + "'s resume"%></span></h3>
                    <h3><span class="title">#experience</span></h3>
                    <ul>
                        <% @user.careers.each_with_index do |career, index| %>
                        <div id=<%="resumeItem" + index.to_s %>>
                            <li><span class="accordian-title">.job-title > </span><%= career.job_title %></li> 
                            <li><span class="accordian-title">.company > </span><%= career.company %></li> 
                            <li><span class="accordian-title">.description > </span><%= career.job_description %></li>    
                            <li><span class="accordian-title">.start-date > </span><%= career.start_date %></li>    
                            <li><span class="accordian-title">.end-date > </span><%= career.end_date %></li> <br>      
                        <% end %>
                        </div>    
                    </ul>
                </li>
           <!--      we will keep this LI open by default -->
                <li class="active">
                    <h3><span class="title">#education</span></h3>
                    <ul>
                        <% @user.educations.each_with_index do |education, index| %>
                        <div id=<%="resumeItem" + (index + 3).to_s %>>
                            <li><span class="accordian-title">.institution > </span><%= education.institution %></li>
                            <li><span class="accordian-title">.course > </span><%= education.course %></li>
                            <li><span class="accordian-title">.start-date > </span><%= education.start_date %></li>         
                            <li><span class="accordian-title">.end-date > </span><%= education.end_date %></li><br>
                        <% end %>
                        </div>
                    </ul>
                </li>
                <li>
                    <h3><span class="title">#portfolio</span></h3>
                    <ul>
                        <% @user.portfolios.each_with_index do |portfolio, index| %>
                        <div id=<%="resumeItem" + (index + 6).to_s %>>
                            <li><span class="accordian-title">.project > </span><%= link_to(portfolio.title, portfolio.link) %></li>
                        <% end %>
                    </div>
                    </ul>
                </li>
            </ul>
        </div>
    </section> 
</div>



