<div id="game_canvas"><h1><%= @first_name %>'s game</h1></div>
<section class="slider">
    <div id="accordian">
        <ul>
            <li>
                <h3><span class="icon-dashboard"></span>Experience</h3>
                <ul>
                    <% @user.careers.each do |career| %>
                    <li>Job Title</li> 
                        <%= career.job_title %>
                    <li>Company</li>
                        <%= career.company %>
                    <li>Description</li>   
                        <%= career.job_description %> 
                    <li>Start Date</li>    
                        <%= career.start_date %>
                    <li>End Date</li>
                        <%= career.end_date %>
                    <% end %>
                </ul>
            </li>
       <!--      we will keep this LI open by default -->
            <li class="active">
                <h3><span class="icon-tasks"></span>Education</h3>
                <ul>
                    <% @user.educations.each do |education| %>
                    <li>Institution</li>
                        <%= education.institution %>
                    <li>Course</li>
                        <%= education.course %>
                    <li>Start Date</li>
                        <%= education.start_date %>
                    <li>End Date</li>
                        <%= education.end_date %>
                    <% end %>
                </ul>
            </li>
            <li>
                <h3><span class="icon-calendar"></span>Portfolio</h3>
                <ul>
                    <% @user.portfolios.each do |portfolio| %>
                    <li>Project</li>
                        <%= link_to(portfolio.title, portfolio.link) %>
                    <% end %>
                </ul>
            </li>
        </ul>
    </div>
</section> 



